body {
    height: 100vh;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("media/background.PNG");
      background-size: cover;
    }
}

.weather-container {
    width: 400px;
    height: 200px;
    border-radius: 25px;
    background: hsl(188, 100%, 37%, .5);
    border: aliceblue 4px solid;
}

.title {
}